<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link href="../static/css/style.css" rel="stylesheet" type="text/css" >	
</head>
<body>

	<div class="menu">
		<ul class="submenu">
				<li class="nav"><a href="log.html">Main</a></li>
				<li class="nav"><a href="home.html">Home</a></li>
				
		</ul>
	</div>


<div class="container-inner">
   
       <div class="container">
            <div class="page-hed2"><h1>ABOUT US </h1>
           <h2><b></b>FAST LINK </b></h2>
           </div>
           <div class="content-about text-justify">
          <p>Fast Link was incorporated in Ghana in 18th July, 2019 by the investment of <b>HTU</b> Corporation, Ghana and Mugi Auto S.A., Benin. The company started operations in <b>18th July, 2019. In , HTU</b> Corporation, <b>Ghana</b> became the sole shareholder of the company.</p>

<b>Octagon</b> is the sole authorized distributor for <b>HTU</b> Corporation of HO. The principal activity of <b>Octagon</b> is the sale of new site, and the provision of After-Sales service support.
As the sole authorized distributor for Fast Link Corporation, <b>Octagon</b> staff are equipped with the requisite skill that enhances quality of service to meet Fast Link Global Standards.
Today, the company became the sole authorized distributor of Auto networks, providing after-sales support for customers.
<b>Octagon</b> has branches in - <b>Accra, Tema, Kumasi and Tarkwa</b>. In addition, <b>Octagon</b> has appointed five (5) workshops thus; Ansuare Company Limited in Tamale, Kwansa Auto Ltd in Takoradi, Gerco Auto Ventures in Ho, Cape Coast Technical Institute in Cape Coast and Eusbett Service Centre in Sunyani as authorized Service Shops (TGASS).
           </div>
           
           <div class="two-colum-about">
             <!--<figure>



                  <img src="https://www.toyotaghana.com/photos/8__About.jpg" alt="About Img55" width="472" height="567">



               </figure>-->
               <article>
                  <div class="heading"><span><h3><b>VISION </b></h3></span></div>
                   
                   <p><b>Octagon's</b> vision is to provide its customers with the best network support and vehicle purchase and ownership experience.</p>
                   
                   <div class="heading"><span><h3><b>Mission </b></h3></span></div>
                   
                   <ul class="bullet-list">
                     <li>Operate to become the most customer focused and environmentally friendly Fast link company in Ghana.</li><li>Provide integrated .</li><li>Provide adequate and up to date training for our staff, dealers and fleet users.</li>
                   
                   </ul>
                   
               </article>
           </div>
           
       </div>

</div> 


</body>
</html>
