<!DOCTYPE html>
<html>
<head>
	<title>signUp.com</title>
<link rel="stylesheet" href="account.html" type="text/css">	
</head>
<body>
	<div>
		<center><fieldset style="width: 50%; height: 500px;">
			<form method="POST">
			<p>Fill the form with valid info please</p><hr>
			First Name: <input type="text" value="First Name" placeholder="Enter First Name"><br><br>

			Last Name :   <input type="text" placeholder="Enter Last Name"><br><br>

			User Name :   <input type="text" placeholder="Enter Username"> <br><br>

			Password :    <input type="Password" placeholder="Enter Password" required ><br><br>

			Re-Enter password <input type="password" placeholder="Re-Enter Password" required><br><br>

			Mobile :     <input type="Number" placeholder="Mobile Number"><br><br>

			Email :     <input type="Email" placeholder="Enter Email" required><br><br>

			<input type="submit" name="submit">
		</form></center></fieldset>
	</div>
	

</body>
</html>