<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
	<link href="../static/css/style.css" rel="stylesheet" type="text/css" >
	<link href="home.html" rel="stylesheet" type="text/css" >
			
</head>
<body style=" background-image: url(../static/images/ggg.png); max-width: 100%; max-height:100%; min-width:70%; min-height:70%;">
<div class="menu">
		<ul class="submenu">
				<li class="nav"><a href="log.html">Main</a></li>
				<li class="nav"><a href="about.html">About</a></li>
		</ul>
</div>


<div class="links">
		<ul class="submenu">
				<li class="push"><a href="https://www.bmw.com/en/automotive-life.html"><img src="../static/images/bmw.jpg"></a></li>

				<li class="push"><a href="https://www.ferrari.com/en-GH"><img src="../static/images/fera.jpg"></a></li>

				<li class="push"><a href="https://www.jaguar.com.gh/"><img src="../static/images/jag.jpg"></a></li>

				<li class="push"><a href="https://www.porsche.com/middle-east/_Ghana_/?gclid=EAIaIQobChMI79WWl82-4wIVhbTtCh0sjAOqEAAYASAAEgJkSvD_BwE"><img src="../static/images/por.jpg"></a></li>

				<li class="push"><a href="https://www.bugatti.com/"><img src="../static/images/bugatti.png"></a></li>

				<li class="push"><a href="https://www.toyotaghana.com/vehicle/land-cruiser-200/"><</a><img src="../static/images/toyota.png"></li>

				<li class="push"><a href="https://www.mercedes-amg.com/en/vehicles.html"><img src="../static/images/benz.jpg"></a></li>

				<li class="push"><a href="https://www.landrover.com.gh/"><img src="../static/images/range.png"></a></li>

				<li class="push"><a href="https://www.vw.com/models/"><img src="../static/images/vw.jpg"></a></li>

				<li class="push"><a href="https://www.dodge.com/"><img src="../static/images/dodge.jpg"></a></li>









		</ul>
</div>

</body>
</html>