<html>
<head>
<title>Login form design</title>
	<link href="../static/css/style.css" rel="stylesheet" type="text/css" >
</head>
<body style=" background-image: url(../static/images/wall.jpg);">



	<div class="loginbox">
	<img src="../static/images/avatar.jfif" class="avatar">
	<br><br><br><br><br>	<h1> Login Here </h1>
		<form action="home.html" method="GET">
			<p> Username </p><br>
			<input type="text" name="" placeholder="Enter Usernname" autofill required><br>
			<br><br><p> Password </p><br>
			<input type="password" name="" placeholder="Enter Password" required><br><br>
			<input type="submit" onclick="" value="login" ><br><br>
			<a href="reset.html"> Lost your password?</a><br>
			<a href="account.html"> Dont't have an account?</a>

		</form>

	</div>
</body>s

</html>